* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
}

.container {
    position: relative;
    display: flex;             
    justify-content: center;    
    align-items: center;
    height: 1200px;   
}


.group-yellow {
    position: absolute;
    z-index: 2       ;
    margin-top: 200px;
    opacity: 0.9;
}

.group-blue {
    margin-left: 150px;
    position: absolute;
    z-index: 1; 
    opacity: 0.9;
}

.group-red {
    margin-right: 150px;
    position: absolute;
    z-index: 0;
    opacity: 0.9;
}


.group-red:hover {
    position: relative;
    z-index: 3; 
    opacity: 1;
}

.group-blue:hover {
    position: relative;
    z-index: 3; 
    opacity: 1;
}

.group-yellow:hover {
    position: relative;
    z-index: 3; 
    opacity: 1;
}
